body {
	background: #CACACA url(images/background.png) repeat-x;
	font-family: "Trebuchet MS", Verdana, serif
}
#container {
	margin: 0 auto;
	width: 750px
}
#header {
	width: 100%
}
#sub_header {
	text-align: right;
	font-weight: bold;
	font-size: 20px;
	color: #FFFFFF;
	padding-right: 20px;
	padding-bottom: 20px;
}
#main_content {
	margin: 0 auto;
	width: 100%;
	background: #FFFFFF url('images/background_content.gif');
	background-repeat: repeat-y
} 
#main_content_top {
	height: 30px;
	background: #FFFFFF url('images/background_top.gif');
} 
#main_content_bottom {
	height: 30px;
	background: #FFFFFF url('images/background_bottom.gif');
}
#footer {
	text-align: center;
	font-size: 12px;
	margin: 10px auto
}
.code {
	float: left;
	text-align: left;
	padding: 0px 30px 10px 30px;
	font-size: 12px
}
.content {
	float: left;
	width: 510px;
	text-align: justify;
	padding: 0 30px 0 30px;
	font-size: 12px
}
li {
  margin-top: 1px; /* Adjust this value to reduce the spacing between list items */
  margin-bottom: 1px; /* You can also use margin-top to reduce spacing above each list item if needed */
}
.menu {
	width: 139px;
	float: right;
	padding: 0 20px 0 20px;
	border-left: #8C8484 1px solid;
	font-size: 12px
}
.menu ul {
	margin: 0;
	padding: 10px 0 10px 15px
}
.menu il {
	list-style-type: disc
}
#header h1 {
	margin-bottom: 0px;
	font-size: 28px;
	font-weight: bold;
	color: #A40008
}
.content h2 {
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 18px;
	font-weight: bold;
	color: #A40008
}
.content h2:first-child {
	margin-top: 0; /* Remove spacing for the first h2 */
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #A40008
}
.content h3 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: bold;
	background-color: #EBECF0;
	padding: 10px; /* Add some padding to the heading */
}
#clear {
	display: block;
	clear: both;
	width: 100%;
	height:1px;
	overflow:hidden;
}
.menu_title {
	font-size: 18px;
	font-weight: bold;
	color: #A40008
}
.menu ul {
	margin: 0;
	padding: 10px 0 20px 15px
}
.menu li {
	padding-top: 2px;
	list-style-type: circle
}
a {
	color: #A40008;
	font-weight: bold;
	text-decoration: none
}
a:hover {
	color: #A40008;
	font-weight: bold;
	text-decoration: underline
}
a.menu_link {
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	text-decoration: underline
}
a.menu_link:hover {
	color: #A40008;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none
}
.quote {
	margin: 20px;
	text-align: center;
	font-weight: bold;
	font-style: italic
}

.pub_label {
	background: #FFFF00;
	background-color: #FFFF00;
	font-size: 10px;
	padding: 2px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-o-border-radius: 9px;
	-ms-border-radius: 9px;
	border-radius: 9px;
}
